<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>439151363379-14s5unooo5bekqm31tulf6no2p7q6gtu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.439151363379-14s5unooo5bekqm31tulf6no2p7q6gtu</string>
	<key>API_KEY</key>
	<string>AIzaSyBhc-BVPb_yeECxRPly0YauOQeghf8gn3s</string>
	<key>GCM_SENDER_ID</key>
	<string>439151363379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mpsd1.LittleThinker</string>
	<key>PROJECT_ID</key>
	<string>littlethinker-5a950</string>
	<key>STORAGE_BUCKET</key>
	<string>littlethinker-5a950.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:439151363379:ios:e5253c9296de10a8ce2a46</string>
	<key>DATABASE_URL</key>
	<string>https://littlethinker-5a950.firebaseio.com</string>
</dict>
</plist>